<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head th:fragment="headerfiles">
	<meta charset="ISO-8859-1">
</head>

<body>
	<!-- Footer -->
	<footer class="footer ptb-20" th:fragment="Footer">
		<div class="row">
			<div class="col-md-12 text-center">
				<div class="copy_right">
					<p>
						2018 © Dashboard Theme By
						<a href="#">Breezer</a>
					</p>
				</div>
				<a id="back-to-top" href="#">
					<i class="ion-android-arrow-up"></i>
				</a>
			</div>
		</div>
	</footer>
	<!-- Footer_End -->

</body>

</html>