<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head th:fragment="headerfiles">
	<meta charset="ISO-8859-1">
</head>

<body>
	<!-- section name start -->
	<div th:fragment="Bradecrumb">
		<!--page title start-->
		<div class="page-heading">
			<div class="container-fluid">
				<div class="row d-flex align-items-center">
					<div class="col-md-6">
						<div class="page-breadcrumb">
							<h1>Modal</h1>
						</div>
					</div>
					<div class="col-md-6 justify-content-md-end d-md-flex">
						<div class="breadcrumb_nav">
							<ol class="breadcrumb">
								<li>
									<i class="fa fa-home"></i>
									<a class="parent-item" href="index.html">Home</a>
									<i class="fa fa-angle-right"></i>
								</li>
								<li class="active">
									Modal
								</li>
							</ol>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!--page title end-->
	</div>
	<!-- section name End -->

</body>

</html>